* {
  box-sizing: border-box;
}

header {
  background-color: aqua;
}
header nav {
  display: flex;
  gap: 5px;
}

header nav a {
  border: 1px solid black;
  border-radius: 3px;
  padding: 2px;
}

#materi {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.card {
  background-color: darkblue;
  color: white;
  border: 3px solid black;
  padding: 5px;
  border-radius: 10px;
  max-width: 300px;
}

body main div {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 50px;
}
aside {
  max-width: 300px;
}
body{
    min-width: 350px;
}
@media (max-width: 600px) {
    .card {
        width: 100%;
    }
    #materi{
        justify-content: center;
    }
}
